<js th:fragment="onLoadJS">
    <script th:src="@{/system_assets/js/main/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/validate/jquery.validate.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/validate/validator.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/public/theme.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/main/amazeui.min.js}"></script>
    <script th:src="@{/system_assets/js/public/app.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/template/template-web.js}" type="text/javascript"></script>
    <script th:src="@{/system_assets/js/public/bin.js}" type="text/javascript"></script>
</js>

