<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/public/head :: onLoadHead(机构管理)">
</head>
<body ddata-type="widgets">

<div class="am-g tpl-g">
    <!-- 模态提示组件 -->
    <div th:include="/public/tips :: Tips"></div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper none-margin">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <div class="row">
                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                    <div class="widget am-cf">
                                        <div class="widget-head am-cf">
                                            <div class="widget-title am-fl" th:if="${add}">新增机构</div>
                                            <div class="widget-title am-fl" th:if="${view}">查看机构</div>
                                            <div class="widget-title am-fl" th:if="${edit}">编辑机构</div>
                                            <div class="widget-function am-fr">
                                                <a href="javascript:;" class="am-icon-cog"></a>
                                            </div>
                                        </div>
                                        <div class="widget-body am-fr">

                                            <form class="am-form tpl-form-border-form tpl-form-border-br" id="DataFrom">
                                                <input type="hidden" name="id" th:value="${entity.id}">
                                                <input type="hidden" name="is_root" th:value="${entity.is_root}">

                                                <div class="am-form-group">
                                                    <label for="org_name" class="am-u-sm-3 am-form-label">上级机构 <span class="tpl-form-line-small-title">Tree</span></label>
                                                    <div class="am-u-sm-9"  th:with="pid=(${entity.parent_id} != null or ${entity.is_root} == 1)?${entity.parent_id}:1">
                                                        <input type="hidden" class="treeValue" name="parent_id" id="parent_id" th:value="${pid}">
                                                        <tree:org  th:attr="disabled=(${view} or ${entity.id} == 1 or ${entity.is_root} == 1),pid=${pid},selfId=${entity.id}"  th:unless="${add}"/>
                                                        <tree:org th:attr="pid=${pid}" th:if="${add}"/>
                                                        <small th:unless="${view}">从机构树上选择一个机构作为父级</small>
                                                    </div>
                                                </div>

                                                <div class="am-form-group">
                                                    <label for="org_name" class="am-u-sm-3 am-form-label">机构名 <span class="tpl-form-line-small-title">Text</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" class="tpl-form-input" name="org_name" id="org_name" placeholder="请输入机构名名" th:disabled="${view}" th:value="${entity.org_name}">
                                                        <small th:unless="${view}">机构名,可包含汉字英文</small>
                                                    </div>
                                                </div>

                                                <div class="am-form-group">
                                                    <label for="sort" class="am-u-sm-3 am-form-label">排序字段 <span class="tpl-form-line-small-title">Number</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="number" class="tpl-form-input" name="sort" id="sort" placeholder="请输入机构排序字段" th:disabled="${view}" th:value="${entity.sort}">
                                                        <small th:unless="${view}">只限数字</small>
                                                    </div>
                                                </div>

                                                <div class="am-form-group">
                                                    <label for="remark" class="am-u-sm-3 am-form-label">备注 <span class="tpl-form-line-small-title">Text</span></label>
                                                    <div class="am-u-sm-9">
                                                        <textarea class="" rows="10" id="remark" name="remark" placeholder="请输入备注"  th:disabled="${view}" th:text="${entity.remark}"></textarea>
                                                    </div>
                                                </div>

                                                <div class="am-form-group">
                                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success" th:unless="${view}">提交</button>
                                                        <button type="button" class="am-btn am-btn-warning" th:onclick="'goUrl(\'/sysorg/edit/'+${entity.id}+'\')'" th:if="${view}">编辑</button>
                                                        <button type="button" class="am-btn am-btn-danger" onClick="goUrl('/sysorg/preview/')">返回</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
            </div>
        </div>
    </div>
</div>

<css th:replace="/public/css :: onLoadCSS"></css>
<js th:replace="/public/js :: onLoadJS"></js>
<script th:src="@{/system_assets/js/tree/amazeui.tree.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/sysorg/sysorg.js}" type="text/javascript"></script>
<script th:inline="javascript">
    $(function () {
        validateFrom();
    })

    /**
     * 校验登录表单
     * @returns void
     */
    function validateFrom(){
        $("#DataFrom").validate({
            rules: {
                orgTree:{
                    treeRequired:true
                },
                org_name:{
                    required:true,
                    maxlength:50
                },
                sort:{
                    required:true,
                    number:true
                },
                remark:{
                    maxlength:255
                }

            },
            submitHandler: function(form) { //验证成功时调用
                var param = $('#DataFrom').serializeJson();
                var url = "/sysorg/save"
                var completeHandler = function (data) {
                    location.href = "/sysorg/preview/"
                }
                doPost(url,param,completeHandler)
            }
        });
    }

</script>
<!-- 机构树模态组件 -->
<script id="treeTipsTempl" type="text/html"  th:replace="/public/tree :: treeTips"></script>
<div class="am-popup" id="treeTips"></div>
</body>
</html>